psycopg2==2.8.4
wheel==0.26
setuptools==41.0.0
Jinja2==2.10.1
opencv-python==4.2.0.32
matplotlib==3.1.1
Pillow==9.0.1
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
MarkupSafe==1.1.1
Werkzeug==1.0.0
numpy==1.16.4
tensorflow==1.14.0
keras==2.3.1
