<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>KHON Project</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">

  <link rel="icon" href="static/images/icon/k_icon_new.png" type="image/icon type">
<link rel="shortcut icon" href="static/images/icon/k_icon_new.png" >
  <link rel="apple-touch-icon" href="static/images/icon/k_icon_new.png" >
  <link rel="apple-touch-icon" sizes="72x72" href="static/images/icon/k_icon_new.png" >
  <link rel="apple-touch-icon" sizes="114x114" href="static/images/icon/k_icon_new.png" >
  <link rel="apple-touch-icon" sizes="144x144" href="static/images/icon/k_icon_new.png" >
  <!-- Style Import-->
  <link href="../static/css/style.css" rel="stylesheet">
  <script src ="../static/js/clock.js"></script>
  <script type="text/javascript" src="../static/js/tts.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/js/jquery.min.js"></script>
  <!-- <script src="../static/js/lucid.js"></script> -->
  <script>
    $(window).on('load', function() {
      $(this).impulse();
    });
  </script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  
</head>


<body onload="startTime()">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="sidebar text-center shadow-max">
          <div class="sticky-top " style="top:5%">
            <img src="../static/images/icon/kmutnb.png" class="rounded " style="width: 80%;height: auto;" alt="University Icon">
            <ul class="navbar-nav mr-auto card card-body text-center" style="background-color: #7E7558;border-color: #7E7558">
              <li class="nav-item ">
                <a class="sidebarbtn shadow" href="/" style="background-color: #B4A882">หน้าหลัก </a>
              </li>
              <li class="nav-item">
                <a class="sidebarbtn shadow" href="application" style="background-color: #B4A882">ประมวลผลท่ารำ</a>
              </li>
              <li class="nav-item">
                <a class="sidebarbtn shadow" href="show" style="background-color: #B4A882">รอบการแสดง</a>
              </li>
              <li class="nav-item">
                <a class="sidebarbtn shadow" href="gesture" style="background-color: #B4A882">ท่าทางการรำโขน</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-10" >
        <div class="row">
          <div class="">
            <img src="../static/images/etc/head.png" class="img-fluid" style="z-index: 0;margin-bottom: -31%">
          </div>
        </div>
        <div class="row justify-content-center card shadow-lg" style="margin-left: 3%;margin-right: 3%;margin-top: 3%" >
          <div class="card card-body shadow-md"style="background-color: #eee; margin: 2%">
            <h1 style="margin-top: 1%; color:#331A00 ">รอบการแสดง</h1>
          </div>
        </div>
        <div class="row justify-content-center" >
          {% for i in range(shows|length) %}
          <div class="col-md-4 card shadow" style="height:100%;max-width: 31rem;margin: 1%;padding: 2% ;color:#331A00">
            <div class="card text-center" style="padding: 2%;background-color: #eae0c2">
              <img src="../static/images/shows/{{ shows_img[i][0]}}" class="img-fluid " style=";margin: auto;height: 300px;border-radius: 25px;border: 2.5px solid #7E7558;padding: 2%">
            </div>
            <div class="card box" style="background-color: #FFF;height:100pt; font-size: 2rem;padding: 2%">
              <h1 style="font-size: 80% ;padding-top: 8%">~{{ shows_title[i] }}~</h1>
            </div>
            <div class="card-footer box text-center" style="height:100pt;">
              <p  style="font-family: Ekkamai;font-size: 95%">
                <b>วันที่:</b>{{shows[i][3]}}<br>
                <b>เวลา:</b>{{shows[i][4]}}<br>
                <b>สถานที่:</b>{{shows_location[i]}}<br>
              </p>
            </div>  
            <h5 class="text-center" style="padding-top: 5%"><a  href="#shows{{shows[i][0]}}" data-toggle="modal" class="transition" style="color:#331A00">~คลิกที่นี่เพื่ออ่านต่อ~</a></h5>      
          </div>
          {% endfor %}
        </div>


        {% for i in range(shows|length) %}
        <div class=" modal fade" id="shows{{shows[i][0]}}">
          <div class="modal-dialog modal-shows" >
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header justify-content-center"style="background-color: #eae0c2;z-index: 1">
                <h1 class="modal-title justify-content-center">{{shows_title[i]}}</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->

              <div class="modal-body img-shows">
                <div class="bg" style="background: url(../static/images/shows/{{shows_img[i][0]}}) center center;background-size: 100% 100%"></div>
                <div class="row justify-content-center bg-show-content">
                  <img src="../static/images/shows/{{shows_img[i][0]}}" class="img-fluid"  style=";max-width: auto;min-width: auto;min-height: 300px;border-radius: 25px;border: 2.5px solid #7E7558;max-height: 500px" >
                </div>  
              </div>

              <!-- Modal footer -->
              <div class="modal-footer" style="z-index: 3;background-color: #fff">
                <h3>
                  <p style="font-family: Ekkamai">{{shows_desc[i]}}</p>                
                </h3>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

</body>

<div class="col-md-12">
  <footer class="ftco-footer ftco-section section card " style="border:none;background-color: #7e7558;margin-top:0%">

    <div class="container-fluid ">
      <div class="row justify-content-center" style="padding-top: 0.5%">
        <div class="col-md-3 card shadow" style="margin: 1%;padding-top: 2%;background-color: #eee;max-width: 23rem">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 " style="color: #331A00;border-bottom: 1px solid rgb(117, 117, 117);">เกี่ยวกับ</h2>
            <p style="color: #222;font-family: 'Ekkamai';font-size: 95%">จุดประสงค์ของเว็บไซต์นี้เพื่อนำเสนอผลงานและข้อมูลเท่านั้น <br>ไม่มีจุดประสงค์ในการใช้เพื่อการค้า<br>ด้วยความเคารพ</p>

          </div>
        </div>
        <div class="col-md-3 card shadow"  style="margin: 1%;padding-top: 2%;background-color: #eee;max-width: 20rem">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2" style="color: #331A00;border-bottom: 1px solid rgb(117, 117, 117);">ลิงก์</h2>
            <ul class="list-unstyled" >
              <li><a href="https://www.itar.site/#home-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class=" icon-long-arrow-right mr-2"></span>หน้าหลัก</a></li>
              <li><a href="https://www.itar.site/#about-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class=" icon-long-arrow-right mr-2"></span>เกี่ยวกับ</a></li>
              <li><a href="https://www.itar.site/#services-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class=" icon-long-arrow-right mr-2"></span>งานถนัด</a>
              </li>
              <li><a href="https://www.itar.site/#projects-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class=" icon-long-arrow-right mr-2"></span>ประกาศนียบัตร</a>
              </li>
              <li><a href="https://www.itar.site/#contact-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class=" icon-long-arrow-right mr-2"></span>ติดต่อ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 card shadow" style="margin: 1%;padding-top: 2%;background-color: #eee;max-width: 20rem">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2" style="color: #331A00;border-bottom: 1px solid rgb(117, 117, 117);">หน้าที่</h2>
            <ul class="list-unstyled">
              <li><a href="https://www.itar.site/#services-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class="icon-long-arrow-right mr-2"></span>หน้าเว็บ(หน้าบ้าน)</a>
              </li>
              <li><a href="https://www.itar.site/#services-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class="icon-long-arrow-right mr-2"></span>ระบบเว็บ(หลังบ้าน)</a>
              </li>
              <li><a href="https://www.itar.site/#services-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class="icon-long-arrow-right mr-2"></span>ดูแลและจัดการฐานข้อมูล
              </a></li>
              <li><a href="https://www.itar.site/#services-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class="icon-long-arrow-right mr-2"></span>วิเคราะห์ข้อมูล
              </a></li>
              <li><a href="https://www.itar.site/#services-section" style="color: #222;font-family: 'Ekkamai';font-size: 90%"><span class="icon-long-arrow-right mr-2"></span>แอพพลิเคชันมือถือ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 card shadow" style="margin: 1%;padding-top: 2%;background-color: #eee;max-width: 25rem">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2" style="color: #331A00;border-bottom: 1px solid rgb(117, 117, 117);">สอบถามเพิ่มเติม</h2>
            <div class="block-23 mb-3">
              <ul class="list-unstyled">
                <li><span class="icon-long-arrow-right mr-2" style="color: #222;font-family: 'Ekkamai';font-size: 90%">Floor'6 building'72 Faculty of Applied Science<br>King Mongkut's University of Technology North Bangkok</span>
                </li>
                <li><a href="tel:025552000"><span
                  class="icon-long-arrow-right mr-2" style="color: #222;font-family: 'Ekkamai';font-size: 90%">02-555-2000</span></a></li>
                  <li><a href="mailto:s5904062663123@email.kmutnb.ac.th"><span class="icon-long-arrow-right mr-2" style="color: #222;font-family: 'Ekkamai';font-size: 90%"> s5904062663123@<br>email.kmutnb.ac.th</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
